.text {
    text-align: center;
}

.header {
    height: 80px;
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

.legend {
    font-size: medium;
    background-color: darkred;
}